

<div class="px-0 py-0 mx-0 my-0" >
    <p-tabMenu [model]="items"></p-tabMenu>
  </div>

<p-sidebar [(visible)]="sidebarVisible"  class="w-15rem">

    <div class="sidebar-menu">
        <ul class="px-0  mx-auto list-none ">
            <p-divider></p-divider>
            <li><a href="index.html" class="no-underline text-blue-600 "><i class="pi pi-user-edit" ></i><span>   Profile</span></a></li>
            <p-divider></p-divider>

            <li><a href="forms.html" class="no-underline text-blue-600"><i class="pi pi-fw pi-pencil"></i><span>  Vos calendrier</span></a></li>
            <p-divider></p-divider>

            <li><a href="data.html" class="no-underline text-blue-600"><i class="pi pi-fw pi-table"></i><span>  CGU</span></a></li>
            <p-divider></p-divider>

            <li><a href="panels.html" class="no-underline text-blue-600"><i class="pi pi-fw pi-list"></i><span>  RGPD</span></a></li>
            <p-divider></p-divider>

            <li><a href="overlays.html" class="no-underline text-blue-600"><i class="pi pi-fw pi-clone"></i><span>  Contactez nous!</span></a></li>
            <p-divider></p-divider>

            <li><a href="menus.html" class="no-underline text-blue-600"><i class="pi pi-fw pi-plus"></i><span>  Paramètres</span></a></li>
           
        </ul>
    </div>


  
</p-sidebar>



<!-- sidebar
tabmenu -->